# Copy this file to .env and fill in your Firebase project credentials
# Get these from Firebase Console → Project Settings → Your Apps
# NEVER commit .env to Git

VITE_FIREBASE_API_KEY=AIzaSyCO2RRTTEWoVnyBtX6weMTN9IaGy5RHmjg
VITE_FIREBASE_AUTH_DOMAIN=uni-verse-fa343.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uni-verse-fa343
VITE_FIREBASE_STORAGE_BUCKET=uni-verse-fa343.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=494707671278
VITE_FIREBASE_APP_ID=1:494707671278:web:31bb138135e9a495e6b3ff

# Your deployed backend URL (e.g. https://uni-verse-backend.onrender.com)
VITE_API_URL= http://127.0.0.1:8000
